#app
  display flex
  padding-top 2rem

  > *
    background-color white

  aside
    width 12.5rem
    margin-right .5rem

    .nav-item
      margin-bottom 1em

  .main-content
    flex 1
    padding 1rem

  h4.navigation-header
    color var(--gray)
    font-size .75rem
    line-height 3.5
    padding 0 1rem
    margin-bottom 0

  .add-api-button
    padding 0 1rem

    .btn
      font-size 14px
