.layout-with-sidebar
  display flex

  aside
    border-right 1px solid #EEE
    width 12.5rem
    margin-right .5rem
    padding-top .25rem

    .nav-item
      margin-bottom 1em

  .content-container
    flex 1
    padding .5rem

  h4.navigation-header
    color var(--gray)
    font-size .75rem
    line-height 3.5
    padding 0 1rem
    margin-bottom 0

  .add-item-button
    padding 0 1rem

    .btn
      font-size 14px
